
/*Шапка профиля*/
.profile-name {
    width: auto;
    padding-top: 60px;
    border-bottom: 1px solid rgb(236, 236, 236);
    display: flex;
    justify-content: center;
}

.header-profile {
    font-size: 50px;
    font-family: nav_font;
    margin-left: 160px;
    padding-bottom: 6px;
}

.profile-indent {
    width: 1800px;
}

.profile-nav {
    width: auto;
    display: flex;
    justify-content: center;
    height: 55px;
    border-bottom: 1px solid rgb(236, 236, 236);
}

.profile-nav-container {
    width: 1790px;
}

.profile-nav-btn {
    width: 70px;
    height: 55px;

    margin-left: 160px;
    font-family: REX;
    font-weight: 500;
    font-size: 15px;
    text-align: center;

    padding-left: 18px;

    border: none;
    background: white;
    border-bottom: 1px solid black;
}

.profile-nav-img {
    width: 15px;
    height: 15px;
    margin-top: 3px;
    margin-left: -16px;

    position: absolute;

    background: url('../../images/5.png') no-repeat;
}


/*Часть контента аккаунта*/
.nav-account {
    width: auto;
    height: max-content;
}

.between-nav {
    width: 950px;
    display: flex;
    justify-content: center;
}

.navigate-profile {
    width: 300px;
    height: max-content;
    background-color: white;
    display: grid;
    grid-template-rows: max-content;
    padding-right: 20px;
    margin-left: 299px;
} 

.profile-content {
    width:670px;
    height: max-content;
    min-height: 600px;
    border-left: 1px solid rgb(236, 236, 236);
}

/*Навигация по второстепенным опциям*/
.secondary-options {
    width: 250px;
    height: 40px;

    margin-top: 55px;
    border-bottom: 1px solid rgb(228, 228, 228);
    background-color: white;
}

.option-account {
    width: 250px;
    height: 40px;

    padding-top: 6px;
    padding-left: 8px;
    margin-top: -11px;
    
    font-family: simple;
    font-size: 15px;
    
    color: Black;
    background-color: white;
    text-decoration: none;
}

.option-account:hover {
    background-color: rgb(245, 245, 245);
}

.account-options {
    width: 250px;
    height: 40px;
    margin-top: 30px;

    border-bottom: 1px solid rgb(228, 228, 228);
    background-color: white;
}

.option-main {
    width: 250px;
    height: 40px;

    padding-top: 6px;
    padding-left: 8px;
    margin-top: -11px;
    
    font-family: simple;
    font-size: 15px;
    
    color: Black;
    background-color: white;
    text-decoration: none;
}

.option-main:hover {
    background-color: rgb(245, 245, 245);
}




