.summary {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    margin-left: 20px;
    margin-top: 30px;
    column-gap: 10px;
    row-gap: 10px;
}

.products-card {
    display: flex;
    justify-content: center;
}

.product-image {
    width: 295px;
    height: 260px;

    padding: 35px 45px 35px 45px;
    border-radius: 5px;
    /* border: 1px solid rgb(230, 230, 230); */
    box-shadow: 0.03px 0.03px 5px 0.1px rgb(233, 233, 233);
}

.product-card-data {
    margin-top: 4px;
    margin-bottom: 0;

    font-size: 15px;
    font-family: try_cloth;
}

