*,
:before,
:after {
  box-sizing: border-box;
}

/*Навигация*/
.nav-bar {
    width: auto;
    min-width: 1000px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    border-bottom: 1px solid rgb(231, 231, 231)
    /* rgb(184, 184, 184) */
}

.nav-bar-btns {
    width: 1170px;
    min-width: 600px;
    height: 60px;
    margin-bottom: 1px;
    margin-left: 60px;
    /* margin: 0 330px; */

    display: flex;
    align-items: center;

    background-color: white;
    /* rgb(201, 201, 201) */
}

.nav-bar-other {
    width: 800px;
    min-width: 300px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content:end;
}

/*Логотип*/
.logo {
    width: 70px;
    height: 64px;
    margin-right: 25px;
    
    background: url('../images/4.png') no-repeat;
}

.nav-getstarted {
    text-align: center;
    text-decoration: none;
    border: none;
    background: none;

    width: 124px;
    height: 45px;

    color:rgb(0, 0, 0);

    font-weight: 500;
    font-family: 'try_cloth';
    font-size: 16px;

    transition: all .3s;
}

.nav-getstarted:hover {
    color:rgb(223, 146, 4);
}

/*Поиск*/
.search-img {
    width: 18px;
    height: 18px;
    margin: 3px;

    border: none;
    background-color: white;
    background: url('../images/3.png') round;
}

.search {
    width: 200px;
    height: 35px;

    display: flex;
    align-items: center;

    border: 1px solid black;
    border-radius: 4px;
}

.search:focus {
    border: 1px solid rgb(88, 88, 88);
}

.searching-img {
    position: absolute;

    width: 18px;
    height: 18px;
    margin-left: 4px;

    background: url('../images/3.png') round;
}

.search-input {
    margin-left: 25px;
    width: 170px;

    border: none;
    outline: none;
}

.search-input::placeholder {
    font-family: try_cloth;
}

/*Корзина*/
.basket-btn {
    width: 20px;
    height: 20px;

    border: none;
    background-color: white;
    background: url('../images/2.png') round;
}

/*Авторизация*/
.sign-btn {
    height: 35px;
    margin: 0 17px;

    font-size: 15px;
    font-family: try_cloth;
    transition: all 0.3s;
    
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
}

.sign-btn:hover {
    border-color: rgb(160, 160, 160);
    color: rgb(223, 146, 4);
}

.profile-btn {
    margin: 0 20px;
    padding-top: 1px;

    width: 38px;
    height: 38px;

    background: linear-gradient(270deg,rgb(255, 189, 68),60%, rgb(248, 33, 255));
    border-radius: 50%;
    border: none;

    font-size: 17px;
    font-family: try_cloth;
    text-align: center;

    color: white;
}

.css-figure {
    
    position: absolute;

    box-sizing: content-box;
    height: 50px;
    top: 55px;
}

.btn-figure {
    width: 50px;
    height: 100%;
    top: -44px;
    left: 130px;

    overflow: hidden;
    position: absolute;

    background-color: white;

    border: none;
    border-radius: 4px;
    border-bottom: none;
    border-left: none;

    box-shadow: 0.4px -2.4px 2.2px 1.8px rgb(209, 209, 209);
}

.just-figure {
    width: 180px;
    height: 110px;
    padding-left: 30px;
    margin-right: 30px;

    background-color: white;
    border-radius: 6px;

    box-shadow: 0 1px 8px 0.3px rgb(128, 128, 128);
}

.menu-option-profile {
    position: absolute;

    margin-top: 15px;
    font-family: try_cloth;
    font-size: 16px;
    color: black;

    transition: all .2s ease-in-out; 
    text-decoration: none;
}

.menu-option-settings {
    position: absolute;

    margin-top: 40px;
    font-family: try_cloth;
    font-size: 16px;
    color: black;

    transition: all .2s ease-in-out; 
    text-decoration: none;
}

.menu-option-sign {
    position: absolute;

    margin-top: 65px;
    font-family: try_cloth;
    font-size: 16px;
    color: black;
    cursor: pointer;

    transition: all .2s ease-in-out; 
    text-decoration: none;
}

.menu-option-profile:hover {
    color:rgb(223, 146, 4);
}

.menu-option-settings:hover {
    color:rgb(223, 146, 4);
}

.menu-option-sign:hover {
    color:rgb(223, 146, 4);
}

