.catalog {
    width: auto;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.header-catalog {
    width: 1740px;
    padding-left: 157px;
    display: flex;
    justify-content: start;
    margin: 0 auto;
    height: 130px;
}

.pseudo-navigation {
    display: flex;

    margin-left: 53px;
    margin-top: 30px;
}

.pseudo-ref {
    margin: 0 7px;
    text-decoration: none;

    color: black;
    font-family: try_cloth;
    font-size: 16px;
    transition: all 0.3s;
}

.pseudo-ref:hover {
    color: rgb(230, 150, 2);
}

.header-name {
    margin-left: 60px;
    margin-top: -20px;

    font-size: 60px;
    font-family: nav_font;
}

.catalog-content {
    display: flex;
    justify-content: center;
    width: 1460px;
}

.catalog-filter {
    width: 244px;
    min-width: 244px;
    margin-left: 210px;
}

.catalog-cards {
    width: 870px;
    min-width: 870px;
}

.nav-slash {
    font-family: try_cloth;
    margin: 0 5px 0 5px;
}

.under-header {
    width: auto;
    height: 40px;

    display: flex;
    justify-content: center;

    border-bottom: 1px solid rgb(230, 230, 230);
}

.product-results {
    margin-top: 10px;
    width: 1520px;

    font-size: 15px;
    font-family: simple;
    margin-left: 237px;
}

.product-type {
    margin-top: 40px;
    height: 40px;
    border-bottom: 1px solid rgb(230, 230, 230);

    font-size: 17px;
    font-family: header_edit;
}

input[type='checkbox'] {
    margin-right: 15px;
}

.label-check-phone {
    margin-top: 15px;
    font-size: 14px;
    font-family: global;
}

.label-check-TV {
    margin-top: 5px;
    font-size: 14px;
    font-family: global;
}

.label-check-headphone {
    margin-top: 5px;
    font-size: 14px;
    font-family: global;
}


