.catalog {
    width: auto;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.header-catalog {
    width: 1250px;
    display: flex;
    justify-content: start;
    margin: 0 auto;
    height: 130px;
}

.pseudo-navigation {
    display: flex;

    margin-left: 63px;
    margin-top: 30px;
}

.pseudo-ref {
    margin: 0 7px;
    text-decoration: none;

    color: black;
    font-family: REX;
    font-size: 15px;
    transition: all 0.3s;
}

.pseudo-ref:hover {
    color: rgb(230, 150, 2);
}

.header-name {
    margin-left: 67px;

    font-size: 60px;
    font-family: nav_font;
}

.catalog-content {
    display: flex;
    justify-content: center;
    min-width: 1400px;
}

.catalog-filter {
    width: 244px;
    min-width: 244px;
}

.catalog-cards {
    width: 870px;
    min-width: 870px;
}

.under-header {
    width: auto;
    min-width: 1250px;
    height: 40px;

    display: flex;
    justify-content: center;

    border-bottom: 1px solid rgb(230, 230, 230);
}

.product-results {
    margin-top: 10px;
    width: 1110px;

    font-size: 15px;
    font-family: simple;
}

.product-type {
    margin-top: 40px;
    height: 40px;
    border-bottom: 1px solid rgb(230, 230, 230);

    font-size: 15px;
    font-family: nav_font2;
}

input[type='checkbox'] {
    margin-right: 15px;
}

.label-check-phone {
    margin-top: 15px;

    font-family: try_cloth;
}

.label-check-TV {
    margin-top: 5px;

    font-family: try_cloth;
}

.label-check-headphone {
    margin-top: 5px;

    font-family: try_cloth;
}


